/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Styling for the header */
header {
    background-color: #2196F3; /* Blue color */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Styling for the main content */
main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}

/* Styling for input and button */
.url-input {
    margin-bottom: 20px;
}

.url-input h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.url-input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.url-input button {
    padding: 10px 20px;
    background-color: #2196F3; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* Styling for the shortened URL section */
.shortened-url h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.shortened-url p {
    font-size: 1rem;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

/* Styling for the footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2196F3; /* Blue color */
    color: white;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}
