<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>
    <script>
        function foo(){
            $.ajax({
                data:$('#input_url'),
                url: "{% url 'maps:get_short' %}",
                type: "GET",
                success: successFunc,
                error: errorFunc,
            });
    
            function successFunc(response){
                document.getElementById("shortUrl").innerText = response.shortned_url      
            }
            function errorFunc(response){
                alert("gadbad")
            }
        }
    </script>
    <header>
        <h1 class="header-title">URL Shortener</h1>
    </header>
    <main>
        <section class="url-input">
            <h2 class="section-title">Shorten Your URL</h2>
            <!-- <form action = "/get_map/" method="post"> -->
            
                {% csrf_token %}
                <input type="text" name = "input_url" id="input_url" class="input-field" placeholder="Enter your long URL">
                <button type = "submit" onclick="foo()" id="shortenButton" class="submit-button">GetShortLink!</button>
            <!-- </form> -->
        </section>
        <section class="shortened-url">
            <h2 class="section-title">Shortened URL:</h2>
            <p id="shortUrl" class="short-url">{{shortned_url}}</p>
        </section>
    </main>


    <!-- <form action = "/get_map/" method="post">
        {% csrf_token %}
        {{ form }}
        <!-- <input type = "text" id = "url"></input> -->
        <!-- <button type = "submit">Get Short Link</button>
    </form> -->



    <footer>
        <p class="footer-text">© 2023 URL Shortener</p>
    </footer>
</body>
</html>

